header {
    display:flex;
    justify-content: space-evenly;
   
}
.nav-list{
   display: inline-block;
   justify-content: space-evenly;

    
}

#header-image{

width:5px;
height:5px;
}


@media(max-width:500px){

}
body{
    flex-wrap:wrap
}
